/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 5px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}

/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

/*custom CSS- frontenders will work here*/
.package-container-wrapper {
    overflow-x: auto; 
    white-space: nowrap; 
}
.package-container {
    display: inline-block;
    
}

.package-card {
    position: relative; 
    border-radius: 10px;
    background-color: #191C24;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; 
    margin-right: 20px;
    width: calc((100vw - 40px) / 4); 
    height: calc(100vw - 40px); 
    max-width: 300px;
    max-height: 800px; 
    background-size: cover; 
    background-position: center; 
    display: inline-block;
    background-size: cover; 
    vertical-align: top;
    
}

.package-card .row {
    text-align: center;
    margin-bottom: 15px;
}

.package-card .row:last-child {
    margin-bottom: 0;
}

.package-card .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f2f2ed;
    background-color: #08510e;
    padding: 5px; 
    margin-left: -20px;
    margin-right: -20px; 
    
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
}

.package-card .description {
    font-size: 14px;
    color: #f2f2ed;
    background-color: #08510e;
    padding: 5px;
    margin-left: -20px; 
    margin-right: -20px;
    
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.package-card .button {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 10px 20px;
    background-color: #EB1616;
    color: #f2f2ed;
    font-weight: 900;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.package-card .button:hover {
    color: #EB1616;
    background-color: #000000;
}
/*Info CSS*/
.logo-small{
    width: 100%;
    height: 100%;
    border-radius: 300px;
}
.info-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    

}
.info-container h6{
    color: #EB1616;
}
.info-container > .col-md-4:not(:last-child),
.info-container > .col-md-6:not(:last-child) {
    margin-right: 5px; /* Adjust the margin as needed */
}
.day-card{
    background-color: #191C24; 
    padding: 5px 20px;
    border-radius: 20px;  
    margin-bottom: 10px;
}
.day-col{
    display: inline;
    width: 100%;
}

pre{
    text-align: left;
    width: 100%;
    font-size: 12px;
}
.day-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 3px;
    
}
.day-row header{
        display: inline;
        margin-right: 10px;
}

.flight-box p{
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    background-color: #191C24;
    color: #f2f2ed;
}
/*Form CSS*/
.booking-container{
    display: flex;
    flex-direction: row;
}  
.divider{
  margin-right: 5px;
}
.container-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.column{
    flex: 1;
    padding-right: 3px;
    width: 100%;
}
.button-strip{
    display: flex;
    justify-content: end;
}
.button-strip .button{
    bottom: 10px; 
    left: 50%; 
    width: 25%;
    padding: 10px 20px;
    background-color: #08510e;
    color: #f2f2ed;
    font-weight: 900;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

/*end of custom css*/